{% extends "pages/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
The Milky Way | Address
{% endblock title %}

{% block desc %}
Address page
{% endblock desc %}

{% block main %}

{% block head-extra %}
<style>
  .btn-danger {
    color: #fff;
    background-color: #ba110c;
  }
  .hr-1 {
    background-color: #fff;
    height: 2px;
    width: %100;
  }
  .acc-1 {
    background-color: #444;
    color: #fff;
  }
  .acc-2 {
    background-color: #333;
    color: #fff;
  }
  .accb-1 {
    background-color: #222;
    color: #fff;
  }
</style>
{% endblock head-extra %}

<main>
    <div class="container">
      <div class="row d-flex justify-content-center py-vh-3 pb-0">

        <div class="col-12">

          <form method="POST" id="address-form" action="#">
            {% csrf_token %}

            <h1>Create address</h1>
            <hr>
            {{ addressform | crispy }}
            <button type="submit" class="btn btn-light mt-3" name="address" value="address">Create</button>

          </form>

            <div class="hr-1 mt-4"></div>
          
            <h1 class="mt-3">Addresses</h1>
            <hr>

          <form method="POST" id="delete-form" action="#">

            {% csrf_token %}
            <div class="accordion" id="accordion-round">

              {% if addresses %}

                {% for address in addresses %}
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button acc-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                        {{ address.name }} 
                      </button>
                    </h2>
                    <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#accordion-round">
                      <div class="accordion-body accb-1">
                        <strong>Name:</strong><br>
                        {{ address.name }}
                        <hr>                      <strong>Street:</strong><br>
                        {{ address.street }}
                        <hr>
                        <strong>City:</strong><br>
                        {{ address.city }}
                        <hr>
                        <strong>Postcode:</strong><br>
                        ${{ address.postcode }}
                        <hr>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-light mt-3"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ address.pk }}">Delete address</button>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal{{ address.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ address.pk }}" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title text-dark" id="exampleModalLabel">Warning!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <p class="text-dark">This address will be removed from every order that you made, To ensure that the products are delivered to the right address, Do not delete this address!</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger" name="{{ address.pk }}" value="{{ address.pk }}">Delete</button>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                {% endfor %}

              {% else %}
                <span class="h5 my-2 ms-3">No addresses!</span>
              {% endif %}

            </div>
          </form>



        </div>
      </div>
    </div>
</main>

<script>
let superCheck = document.querySelector('#selectall');
let checkBoxes = document.querySelectorAll('#cart-form input[type="checkbox"]');

superCheck.addEventListener('change', function() {
  if (superCheck.checked) {
    checkBoxes.forEach(function(checkbox) {
      checkbox.checked = true;
    });
  } else {
    checkBoxes.forEach(function(checkbox) {
      checkbox.checked = false;
    });
  }
});
</script>

{% endblock main %}
