{% extends "pages/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
The Milky Way | Edit Profile
{% endblock title %}

{% block desc %}
edit page
{% endblock desc %}

{% block head-extra %}
<style>
  .btn-danger {
    color: #fff;
    background-color: #ba110c;
  }
  .hr-1 {
    background-color: #fff;
    height: 2px;
    width: %100;
  }
  .acc-1 {
    background-color: #444;
    color: #fff;
  }
  .acc-2 {
    background-color: #333;
    color: #fff;
  }
  .accb-1 {
    background-color: #222;
    color: #fff;
  }
</style>
{% endblock head-extra %}

{% block main %}

<main>
    <div class="container">
      <div class="row d-flex justify-content-center py-vh-3 pb-0">

        <div class="col-12">

          <form method="POST" id="address-form" action="#">
            {% csrf_token %}

            <h1>Edit Profile</h1>
            <hr>
            {{ updateform | crispy }}
            <button type="submit" class="btn btn-light mt-3" name="address" value="address">Update</button>

          </form>

        </div>
      </div>
    </div>
</main>

{% endblock main %}
