{% extends "pages/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
The Milky Way | Password Recovery
{% endblock title %}

{% block desc %}
Password recovery page
{% endblock desc %}

{% block head-extra %}
<style>
  .qr-code {
    max-width: 200px;
    height: auto;
  }
</style>
{% endblock head-extra %}

{% block main %}

<main>
    <div class="container mb-5">
      <div class="row d-flex justify-content-center py-vh-3 pb-0">

        <div class="col-12">

          <h2>Password Recovery</h2>
          <hr>
          <form method="post">
            {% csrf_token %}
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-light">Submit</button>
          </form>

        </div>
      </div>
    </div>
</main>

{% endblock main %}
