{% extends "pages/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
The Milky Way | Password Reset
{% endblock title %}

{% block desc %}
Password reset page
{% endblock desc %}

{% block head-extra %}
<style>
  .qr-code {
    max-width: 200px;
    height: auto;
  }
  #div_id_username {
    display: none;
  }
</style>
{% endblock head-extra %}

{% block main %}

<main>
    <div class="container mb-5">
      <div class="row d-flex justify-content-center py-vh-3 pb-0">

        <div class="col-12">

          <h2>Password Reset</h2>
          <hr>
          <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-light">Reset Password</button>
          </form>

        </div>
      </div>
    </div>
</main>
{% endblock main %}
