{% extends "pages/base.html" %}

{% load static %}

{% block title %}
The Milky Way
{% endblock title %}

{% block desc %}
Homepage
{% endblock desc %}

{% block main %}

<main>
    <div class="container">
      <div class="row d-flex justify-content-center py-vh-3 pb-0">


        <div class="col-12">
          <div class="card bg-transparent mb-5" data-aos="zoom-in-up">
            <div class="bg-dark shadow rounded-5 p-0">
              <img src="{{ media_url }}{{ product.image }}"
              alt="abstract image"
                class="w-100 rounded-5 no-bottom-radius" loading="lazy">
              <div class="d-flex flex-column p-3">
                <h1><b>{{ product.name }}</b></h1>


                <div class="fs-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>


                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>


                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>


                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>


                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>

                  <p class="lead link-fancy link-fancy-light">
                   <small>5 stars</small>
                  </p>
                </div>

                <h2>${{ product.price }}</h2>

                <div class="container bg-black rounded-5 p-3">
                  <h4>Product description:</h4>
                  <hr>
                  <small class="text-secondary">
                    {{ product.description }}
                  </small>
                </div>

                <br>
                <hr class="bg-gray-800 w-100">
                <br>

                <form method="POST" action="#">
                  <label for="variation" class="form-label"><h4>Variations:</h4></label>
                  <select class="form-control form-control-lg border-dark form-select" id="variation" required>
                    <option selected disabled value="">Choose...</option>

                    {% for variation in variations %}

                      {% if variation.stock < 1 %}

                        <option disabled value="">{{ variation.name }} (Out of Stock!)</option>

                      {% else %}

                        <option>{{ variation.name }} (In Stock!)</option>

                      {% endif %}

                    {% endfor %}

                  </select>

                  <br>
                  <label for="amount"><h4>Amount:</h4></label>
                  <input type="number" class="form-control form-control-lg border-dark" id="amount" value="1" min="1" max="1000" oninput="calculateResult()">


                  <br>
                  <h2>Total: $<span id="total">0</span></h2>

                  <p class="text-secondary">Note: orders made with crypto will get a discount!</p>
                  <div class="d-flex">
                    <button type="submit"
                      name="view_cart"
                      class="w-100 btn btn-outline-light"
                      style="margin: 0px 5px;">
                      <small>View Cart</small>
                    </button>
                    <button type="submit"
                      name="add_to_cart"
                      class="w-100 btn btn-light"
                      style="margin: 0px 5px;">
                      <small>Add to Cart</small>
                    </button>
                  </div>
                </form>


              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
</main>

<script>
function calculateResult() {
  const amount = document.getElementById("amount").value;
  const result = amount * {{ product.price }}; // your calculation here
  document.getElementById("total").textContent = result;
}
</script>

{% endblock main %}
