{% extends "pages/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
The Milky Way | Change Password
{% endblock title %}

{% block desc %}
Password update page
{% endblock desc %}

{% block head-extra %}
<style>
  .hr-1 {
    background-color: #fff;
    height: 2px;
    width: 100%;
  }
</style>
{% endblock head-extra %}

{% block main %}

<main>
    <div class="container">
      <div class="row d-flex justify-content-center py-vh-3 pb-0">

        <div class="col-12">


            <h1>Two Factor Authentication Successful</h1>
            <hr>
            <p>You have successfully verified your 2fa code.
              <br>Return to <a href="/" class="nowrap link-info link-underline-opacity-0 link-underline-opacity-100-hover">HomePage</a>
            </p>

        </div>
      </div>
    </div>
</main>

{% endblock main %}
