{% extends "pages/forum.html" %}
{% load crispy_forms_tags %}

{% block desc %}
MilkyWay | Login
{% endblock desc %}

{% block title %}
MilkyWay | Login
{% endblock title %}

{% block main %}
<main class="mb-auto col-12">
  <h1>Sign in</h1>
<form method="POST" class="row">
  <div class="col-12">
    {% csrf_token %}
    {{ form|crispy }}
  <!-- <div class="mb-3"> -->
  <!--   <label for="exampleInputEmail1" class="form-label">Email or Username</label> -->
  <!--   <input type="email" class="form-control form-control-lg bg-gray-800 border-dark" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
  <!-- <div class="mb-3"> -->
  <!--   <label for="exampleInputPassword1" class="form-label">Password</label> -->
  <!--   <input type="password" class="form-control form-control-lg bg-gray-800 border-dark" id="exampleInputPassword1"> -->
  <!--   <div id="passHelp" class="form-text"> -->
  <!--     <a href="register.html" class="redirect">Forgot your password?</a> -->
  <!--   </div> -->
  <!-- </div> -->
  <br>
  <button type="submit" class="btn btn-light btn-xl mb-4">Login</button>
  <p class="form-text">Don't have an account? <a class="redirect" href="/register">Sign up</a></p>
</div>
</form>
</main>
{% endblock main %}
